@model QLBH_WebClient.DTO.SANPHAM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/sanpham/";
    string media_seo = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/sanpham/seoIMG/";
    string media_brand = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/thuonghieu/";

    var imageString = "";
    string[] imageList = null;

    if (Model.image != null)
    {
        imageString = Model.image.TrimEnd(',');
        imageList = imageString.Split(',');
    }
}

<div class="bg-light py-3 container" data-aos="fade-right">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/TrangChu/Index" class="font-weight-normal">Trang Chủ</a><span class="mx-2 mb-0">/<a href="/SanPham/Index" class="font-weight-normal"> Sản Phẩm </a> /</span><strong class="text-black">@Model.tenSp</strong></div>
        </div>
</div>

<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="column">
                    <img id=featured src="@media_seo@Model.seoImage" width="100%" height="100%">
                    <div id="slide-wrapper">
                        <img id="slideLeft" class="arrow" src="~/Content/arrow-left.png">

                        <div id="slider">
                            @{
                                if (imageList != null)
                                {
                                    foreach (string image in imageList)
                                    {
                                        <img src="@media@image" style="width:200px;height:200px" class="thumbnail active" />
                                    }
                                }

                            }
                        </div>
                        <img id="slideRight" class="arrow" src="~/Content/arrow-right.png">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="font-weight-bold"><a href="#">@Model.tenSp</a></h1>
                <hr />
                <div class="row">
                    <div class="col-2 col-sm-2">
                        <img class="img-fluid" src="@media_brand@Model.maThNavigation.anhTh" />
                    </div>
                    <div class="col-10 col-sm-10">
                        <h6 class="mb-4 font-weight-normal">@Model.moTa</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 font-weight-normal">
                        <i class="fa fa-arrow-right"></i> Xem thêm các sản phẩm : <a href="/ThuongHieu/Detail?MaTH=@Model.maThNavigation.maTh">@Model.maThNavigation.tenTh</a> tại ZAY SHOP
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 font-weight-normal">
                        <i class="fa fa-arrow-right"></i> Hướng dẫn mua hàng : <a href="/Blog/HuongDan">Xem</a>
                    </div>
                </div>
                <br />
                <br />
                <h4 class="font-weight-bold"> Giá : <strong class="text-primary h4">@string.Format("{0:c0}", Model.donGia)</strong></h4>
                <br />
                <div class="row">
                    <div class="col-3 col-sm-3">
                        <div class="input-group" style="max-width: 120px;">
                            <div class="input-group mb-3 text-center" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button" data-productid="@Model.maSp" data-type="1" onclick="UpdateItemToCart2(this)">&minus;</button>
                                </div>
                                <input type="text" class="form-control text-center" id="txtSoLuong" value="1" data-productid="@Model.maSp" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button" data-productid="@Model.maSp" data-type="2" onclick="UpdateItemToCart2(this)">&plus;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 col-sm-9">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <p><button type="button" class="btn btn-block btn-success font-weight-bold" data-productid="@Model.maSp" data-productname="@Model.tenSp" data-price="@Model.donGia" data-image="@Model.seoImage" onclick="AddItemToCart2(this)"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</button></p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <p><button type="button" class="btn btn-block btn-success font-weight-bold" data-productid="@Model.maSp" data-productname="@Model.tenSp" data-price="@Model.donGia" data-image="@Model.seoImage" onclick="BuyNow(this)"><i class="fa fa-sign-in"></i> Mua ngay</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2 class="font-weight-bold">Giới thiệu sản phẩm</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-left font-weight-normal">
                    @Html.Raw(Model.chiTietSp)
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jquery-3.3.1.min.js"></script>


<script type="text/javascript">
    let thumbnails = document.getElementsByClassName('thumbnail')

    let activeImages = document.getElementsByClassName('active')

    for (var i = 0; i < thumbnails.length; i++) {

        thumbnails[i].addEventListener('mouseover', function () {
            console.log(activeImages)

            if (activeImages.length > 0) {
                activeImages[0].classList.remove('active')
            }


            this.classList.add('active')
            document.getElementById('featured').src = this.src
        })
    }


    let buttonRight = document.getElementById('slideRight');
    let buttonLeft = document.getElementById('slideLeft');

    buttonLeft.addEventListener('click', function () {
        document.getElementById('slider').scrollLeft -= 180
    })

    buttonRight.addEventListener('click', function () {
        document.getElementById('slider').scrollLeft += 180
    })

    function inCrease() {
        var e = window.event;
        e.preventDefault();
        $(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
    }
</script>

<script>

    jQuery(document).ready(function ($) {
        capNhatLuotXem();

    });

    function BuyNow(e) {
        var item = {
            maSp: $(e).data('productid'),
            tenSp: $(e).data('productname'),
            soLuong: parseInt($('#txtSoLuong').val()),
            donGia: $(e).data('price'),
            seoImage: $(e).data('image'),
        };
        console.log(item);
        if (item.maSp == '') {
            swal({
                text: "Hãy chọn ít nhất 1 sản phẩm !!!",
                icon: "error",
                button: "warning!",
            });
            return;
        }
        var store = GetCookie('ShoppingCart');
        store = AddAndUpdateShoppingCart2(store, item);


        //Update slh header
        $.ajax({
            type: 'GET',
            url: "/Cart/GetSLH",
            data: {},
            success: function (data) {
                console.log(data.slh);
                $("#slh").html(data.slh);
            },
            error: function () {
                console.log("error:" + JSON.stringify(data));
            }
        }).done(function () {
            window.location.replace("http://localhost:57368/Cart/Index");
        });
    }

    function AddItemToCart2 (e) {
        var item = {
            maSp: $(e).data('productid'),
            tenSp: $(e).data('productname'),
            soLuong: parseInt($('#txtSoLuong').val()),
            donGia: $(e).data('price'),
            seoImage: $(e).data('image'),
        };
        console.log(item);
        if (item.maSp == '') {
            swal({
                text: "Hãy chọn ít nhất 1 sản phẩm !!!",
                icon: "error",
                button: "warning!",
            });
            return;
        }
        var store = GetCookie('ShoppingCart');
        store = AddAndUpdateShoppingCart2(store, item);

        swal({
            text: "Thêm giỏ hàng thành công !!!",
            icon: "success",
            button: "OK!",
        });

        //Update slh header
        $.ajax({
            type: 'GET',
            url: "/Cart/GetSLH",
            data: {},
            success: function (data) {
                console.log(data.slh);
                $("#slh").html(data.slh);
            },
            error: function () {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

      function UpdateItemToCart2 (e) {

        var item = {
            maSp: $(e).data('productid'),
        }

          var soluong = parseInt($('#txtSoLuong').val());

        if ($(e).data('type') != '0') {
            soluong = CalcMinusorPlusQuantity2($(e).data('type'), item.maSp)

        }

        //var store = GetCookie('ShoppingCart');
        //var index = store.findIndex(function (d) {
        //    return d.maSp == item.maSp;
        //});

        //if (store.length == 0 || index == -1) {
        //    return;
        //}

        //SetCookie('ShoppingCart', store);

      }

      function CalcMinusorPlusQuantity2 (type, productid) {
        var $input_quantity = $("#txtSoLuong");
          var sl = parseInt($("#txtSoLuong").val());

            // giảm số lượng
            if (type == 1) {
                if (parseInt(sl, 10) > 1) {
                    $input_quantity.val(parseInt($input_quantity.val()) - 1);
                }
            }
            // tăng số lượng
            if (type == 2) {
                $input_quantity.val(parseInt($input_quantity.val()) + 1);
            }

          return parseInt($("#txtSoLuong").val());
      }

        function capNhatLuotXem() {
        var inputData = {
            MaSP: '@Model.maSp'
        }

        $.ajax({
            type: 'POST',
            url: "/SanPham/CapNhatLuotXem",
            data: inputData,
            success: function (data) {
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));

            }

        });
    }

    function AddAndUpdateShoppingCart2(store, item) {
        console.log(store);
        console.log(item);
        var sl = $("#txtSoLuong").val();

        var index = store.findIndex(function (d) {
            return d.maSp == item.maSp;
        });
        //console.log(store[index].soLuong);
        if (store.length == 0 || index == -1) {
            store.push(item);
            SetCookie('ShoppingCart', store);
            return store;
        } else {
            var newSL = parseInt(store[index].soLuong) + parseInt(sl);
            store[index].soLuong = newSL;
        }
        SetCookie('ShoppingCart', store);

        return store;
    }
</script>



