@model List<QLBH_WebManage.DTO.PHANHOI>

<br />
<br />

<div class="container">
    <table id="dsPhanHoi" class="table table-sm table-hover table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Tiêu đề</th>
                <th>Tên khách hàng</th>
                <th>Người gửi</th>
                <th>Email</th>
                <th>Ngày gửi</th>
                <th>Tình trạng</th>
                <th colspan="2"></th>

            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.tieuDe</td>
                        
                        <td>
                            @{ if (item.maKhNavigation.tenKh == "admin1")
                                {
                                    <div>Khách vãng lai</div>
                                }
                                else
                                {
                                    <div class="text-primary">@item.maKhNavigation.tenKh</div>
                                }
                            }

                        </td>
                        <td>@item.tenKh</td>
                        <td>@item.email</td>
                        <td>@item.NgayGui</td>
                        <td>
                            @{
                                if (item.TinhTrang == true)
                                {
                                    <div class="text-success">Đã trả lời</div>
                                }
                                else
                                {
                                    <div class="text-warning">Chưa trả lời</div>
                                }
                            }
                        </td>
                        <td><a href="/PhanHoi/Detail?MaPH=@item.maPh" class="btn btn-info"><i class="fa fa-pencil"></i></a></td>
                        <td>
                            <input type="button" onclick="deletePhanHoi('@item.maPh')" id="btnDelete" value="Xóa" class="btn btn-danger" />
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {

    });
    var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));

    function deletePhanHoi(maph) {
        var result = confirm("Bạn có chắc chắn muốn xóa");

        if (result) {
            var deleteData = {
                maph: maph
            }

            $.ajax({
                type: 'POST',
                url: "/PhanHoi/Delete",
                data: deleteData,
                success: function (data) {
                    var code = data.ResponseCode;
                    if (code > 0) {
                        swal({
                            text: data.Description,
                            icon: "success",
                            button: "OK!",
                        });
                        getDsPhanHoi();
                    }
                    else {
                        swal({
                            text: data.Description,
                            icon: "warning",
                            button: "OK!",
                        });
                        getDs();
                        $(".modal-backdrop").remove();
                    }
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }

    }
</script>