@model List<QLBH_WebManage.DTO.HOADON>


<br />
<br />

<div class="container-fluid">
    <table id="dsLoaiSP" class="table table-hover w-auto table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Mã đơn hàng</th>
                @*<th>Khách hàng</th>*@
                <th style="width: 50%">Người đặt</th>
                <th>Số điện thoại</th>
                <th style="width: 100%">Địa chỉ</th>
                <th>Email</th>
                <th>Ngày đặt</th>
                <th>Ngày giao</th>
                <th>Loại thanh toán</th>
                <th>Mã vận đơn</th>
                <th>Phí ship</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th></th>
                <th></th>

            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <th>@item.maHd</th>
                        @*<th>@item.MaKhNavigation.tenKh</th>*@
                        <th>@item.hoTenKh</th>
                        <th>@item.sdtKh</th>
                        <th>@item.diaChiKh</th>
                        <th>@item.emailKh</th>
                        <th>@item.ngayDat</th>
                        <th>@item.ngayGiao</th>
                        <th>@item.loaiThanhToan</th>
                        <th>@item.maVanDon</th>
                        <th>@string.Format("{0:c0}", @item.phiVanChuyen)</th>
                        <th>@string.Format("{0:c0}", @item.tongTien)</th>
                        <th>
                            @{
                                if (item.trangThai == true)
                                {
                                    <div class="text-success">Đã xử lí</div>
                                }
                                else
                                {
                                    <div class="text-warning">Chưa xử lí</div>
                                }
                            }
                        </th>
                        <td><a href="/Order/Detail?MaHD=@item.maHd" class="btn btn-info"><i class="fa fa-pencil"></i></a></td>

                        <td>
                            <button onclick="deleteHoaDon('@item.maHd')" id="btnDelete" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>


</div>




<script>
    $(document).ready(function () {
    });

    var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));


    var pageSize = 10;
    var pageIndex = 1;

    function deleteHoaDon(mahd) {
        var result = confirm("Bạn có chắc chắn muốn xóa");

        if (result) {
            var deleteData = {
                maHd: mahd
            }

            $.ajax({
                type: 'POST',
                url: "/Order/Delete",
                data: deleteData,
                success: function (data) {
                    var code = data.ResponseCode;
                    if (code > 0) {
                        swal({
                            text: data.Description,
                            icon: "success",
                            button: "OK!",
                        });
                        getDsDonHang();
                    }
                    else {
                        swal({
                            text: data.Description,
                            icon: "warning",
                            button: "OK!",
                        });
                        $(".modal-backdrop").remove();
                    }
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }

    }


</script>
