@model List<QLBH_WebManage.DTO.MEDIUM>
@{
    Layout = null;
    string media = System.Configuration.ConfigurationManager.AppSettings["MEDIA_URL"] + "/images/media/";

}

<br />
<br />

<div class="container">
    <table id="dsThuongHieu" class="table table-sm table-hover table-striped table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Mã ảnh</th>
                <th>Loại</th>
                <th>Hình ảnh</th>
                <th>Trạng thái</th>
                <th></th>
                <th></th>

            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.mediaId</td>
                        <td>@item.mediaType.mediaTypeName</td>
                        <td>
                            <img src="@media@item.image" style="width: 100px;height: 100px" />
                        </td>
                        <td>
                            @{
                                if (item.isActive == true)
                                {
                                    <div class="text-success">Sử dụng</div>
                                }
                                else
                                {
                                    <div class="text-warning">Không sử dụng</div>
                                }
                            }
                        </td>

                        <td>
                            @{
                                if (item.isActive == false)
                                {
                                    <button class="btn btn-success" onclick="lockMedia('@item.mediaId', true)"><i class="fa fa-unlock"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-danger" onclick="lockMedia('@item.mediaId', false)"><i class="fa fa-lock"></i></button>
                                }
                            }
                        </td>

                        <td>
                            <input type="button" onclick="deleteMedia('@item.mediaId')" id="btnDelete" value="Xóa" class="btn btn-warning" />
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {

    });

    var cookieToken = JSON.parse(Common.getCookie("ManagerShop_Cookies"));

    function deleteMedia(mediaid) {
        var result = confirm("Bạn có chắc chắn muốn xóa");

        if (result) {
            var deleteData = {
                MediaId: mediaid
            }

            $.ajax({
                type: 'POST',
                url: "/Media/Delete",
                data: deleteData,
                success: function (data) {
                    var code = data.ResponseCode;
                    if (code > 0) {
                        swal({
                            text: data.Description,
                            icon: "success",
                            button: "OK!",
                        });
                        getDsMedia();
                    }
                    else {
                        swal({
                            text: data.Description,
                            icon: "warning",
                            button: "OK!",
                        });
                        getDs();
                        $(".modal-backdrop").remove();
                    }
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }

    }

    function lockMedia(id, isLock) {

        var inputData = {
            MediaId: id,
            isActive: isLock
        }

        $.ajax({
            type: 'POST',
            url: "/Media/LockMedia",
            data: inputData,
            success: function (data) {

                var code = data.ResponseCode;
                if (code > 0) {
                    swal({
                        text: data.Description,
                        icon: "success",
                        button: "OK!",
                    });
                    getDsMedia();
                }
                else {
                    swal({
                        text: data.Description,
                        icon: "error",
                        button: "OK!",
                    });
                    getDsMedia();
                }
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });

    }

</script>

